<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header" class="header"><!-- Etiqueta para ofrecerle al navegador información de que es 
            un encabezado, mediente un atributo se está llamando al selector de 
            una hoja de estilos en CSS-->
            <nav class="nav"><!-- Esta etiqueta es para ilustrarle al navegador que es un menú -->
                <a th:href="@{/}" class="logo nav-link">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a th:href="@{cliente/listado}" class="nav-menu-link nav-link" 
                        th:text="#{plantilla.clientes}">Clientes</a></li><!-- 
                            Enlaces de referencia dentro del mismo sitio, es una 
                            etiqueta de hipervínculo, href: hipervinculo reference-->
                    <li class="nav-menu-item">
                        <a th:href="@{categoria/listado}" class="nav-menu-link nav-link" 
                        th:text="#{plantilla.categorias}">Categorias</a></li>
                    <li class="nav-menu-item">
                        <a th:href="@{articulo/listado}" class="nav-menu-link nav-link" 
                        th:text="#{plantilla.articulos}">Articulos</a></li>
                </ul>
            </nav>
        </header>
        <footer th:fragment="footer" class="footer">
            <p>&COPY [[#{plantilla.derechos}]]
                <a th:href="@{/(lang=es)}">ES</a> | /*"lang=es"= Lenguaje = Español*/
                <a th:href="@{/(lang=en)}">EN</a>   /*"lang=es"= Lenguaje = Inglés*/
            </p>
        </footer>
    </body>
</html>
